@using AutoMarket.Models.Entities
@using Microsoft.AspNetCore.Identity

@inject SignInManager<Utilizador> SignInManager
@inject UserManager<Utilizador> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Public" asp-controller="Conta" asp-action="Index" title="Gerir Conta">
				@UserManager.GetUserName(User)
			</a>
        </li>
        <li class="nav-item">
            <form method="post" asp-area="Public" asp-controller="Conta" asp-action="Logout" style="display: inline;">
                @Html.AntiForgeryToken()
                <button type="submit" class="nav-link btn btn-link text-dark border-0" style="cursor: pointer;">Sair</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Public" asp-controller="Conta" asp-action="Register">Registar</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Public" asp-controller="Conta" asp-action="Login">Entrar</a>
        </li>
    }
</ul>